<div id="leaderboard">
    <button class="btn btn-primary btn-dark" 
            type="button"
            (click)="isCollapsed = !isCollapsed">
            <i class="bi bi-trophy"></i>
    </button>

    <div id="leaderboard-table" 
         [ngbCollapse]="isCollapsed">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">
                        <div id="green-box"></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of fiveBestPlayers">
                    <td>{{this.fiveBestPlayers.indexOf(player)+1}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.score}}</td>
                </tr>          
            </tbody>
        </table>
    </div>
</div>
