<div id="lb">
<button class="btn btn-primary btn-dark" 
        type="button" (click)="isCollapsed = !isCollapsed"
        href="#leaderboard" 
        data-bs-toggle="collapse" 
        data-target="#leaderboard" 
        [attr.aria-expanded]="!isCollapsed" 
        aria-controls="leaderboard">
        <i class="bi bi-trophy"></i>
</button>

<div class="collapse" id="leaderboard" [ngbCollapse]="isCollapsed">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of fiveBestPlayers">
                <td>{{this.players.indexOf(player)+1}}</td>
                <td>{{player.name}}</td>
                <td>{{player.score}}</td>
            </tr>          
        </tbody>
    </table>
</div>
</div>
