/*scheme 1*/
:root {   
    --background-color: #111111;
    --border-color: #333333;
    --scheme-color1: #ff3300;
    --scheme-color2: #ffff00;
    --scheme-color3: #00ff00;
    --transparent-color: rgba(0,0,0,0);
}

body {
    color: #00ff00;
}


