@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

#menu {
    font-family: 'Fredericka the Great', cursive;
    position: absolute;
    height: auto;
    width: 70px;
    border: 1px solid white;
    border-radius: 10px;
    top: 10px; left: calc(50vw - 50vh - 70px);
}
#startBtn {  
    margin: 5px; font-size: 14px;    
}
#stopBtn {
    margin: 5px;
    color: var(--scheme-color1);
}
#score, #greenScore {
    width: inherit;
    color: white;
    font-size: 40px; 
    text-align: center;
}
#greenScore {
    color: var(--scheme-color3);
}
#output {
    color: var(--scheme-color2);
    text-align: center;
    font-size: 14px;
    width: inherit;
}
@media(orientation: portrait){
    #menu {       
        width: calc(100vw - 20px);
        height: 50px;
        left: 10px;
    }
    #score, #greenScore {
        width: 50px;
        line-height: 0px;
        position: relative; top: 10px;
    }
    #output {
        font-size: 18px;
        position: relative; top: 10px;
    }
}