#main {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}
#rotating-boxes {
    position: absolute;    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;      
    top: 0;
    bottom: 0;
}
#inner-box {    
    position: absolute;
    width: 38px;
    height: 38px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    /*box-shadow: -2px -2px 5px 0px black inset,
        2px 2px 5px 0px var(--my-background-color) inset;*/
}

#menu {
    position: absolute;
    height: auto;
    width: 70px;
    border: 1px solid white;
    border-radius: 10px;
    top: 10px; left: 10px;
}
#startBtn {  
    margin: 5px;
    
}
#stopBtn {
    margin: 5px;
}
#score {
    width: inherit;
    color: white;
    font-size: 40px; line-height: 40px; 
    text-align: center;
}

.dwibAnimation1 {
    animation-name: dwibAnimation1;
    animation-duration: 2.5s;
}

.dwibAnimation2 {
    animation-name: dwibAnimation2;
    animation-duration: 2.5s;
}

.dwibAnimation3 {
    animation-name: dwibAnimation3;
    animation-duration: 2.5s;
}

.dwibAnimation4 {
    animation-name: dwibAnimation4;
    animation-duration: 2.5s;
}

@keyframes dwibAnimation1 {
    50% { 
        border-color: var(--scheme-color1);
    }
}

@keyframes dwibAnimation2 {
    50% {
        opacity: 0; 
        background-color: var(--scheme-color2);
    }
}

@keyframes dwibAnimation3 {
    50% {
        border-color: blue;
    }
}

@keyframes dwibAnimation4 {
    50% {
        border-color: var(--scheme-color2);
    }
}
